@use 'base/variables' as v;
@use 'base/mixins' as m;

.planes {
    background-color: v.$secundario;

    h2{
        @include m.headingBorder (v.$blanco, v.$primario);
    }

    .descripcion {
        color: v.$blanco;
    }

}

.nuestros-planes{

    display: flex;
    flex-direction: column;

    @include m.tablet {
        flex-direction: row;
        flex-grow: 1;
        max-width: 80rem;
        margin-inline: auto;
        margin-block-start: 10rem;
        
    }

    .plan{
        flex-grow: 1;
        background-color: v.$blanco;
        margin-bottom: 2rem;
        padding: 16rem 4rem 4rem 4rem;
        &:last-of-type {
            margin-bottom: 0;
                   
        }

        @include m.tablet {
            margin-bottom: 0;
            cursor: pointer;
            transition: 450ms;  

            &:hover {
                transform: scale(1.1);
            }
            
        }

        .precio {
            font-size: 1.8rem;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }

        .listado {
            li{
                text-align: center;
                margin-bottom: 2rem;

                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }

        &.inicio{
            @include m.bgicono('../img/icono_inicio.svg');
        }

        &.negocio{
            @include m.bgicono('../img/icono_negocio.svg');
            background-position: 50% 7rem;
            padding-top: calc(16rem + 5rem);
            z-index: 1000;
        }

        &.pro{
            @include m.bgicono('../img/icono_pro.svg');
        }
        
    }
    .negocio {
        background-color: v.$primario;
        order:-1;
        @include m.tablet {
            order:unset;
            margin: -5rem 0;
            border-radius: 2rem;
        }
    }
}